/* Contenido de la página - Quiénes somos */
#quienes-somos {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8; /* Fondo ligeramente gris para separar del resto del contenido */
  }
  
  #quienes-somos h2 {
    color: #ef3240; /* Color rojo del tema */
  }
  
  #quienes-somos p {
    color: #555; /* Color de texto más oscuro para mayor legibilidad */
    font-size: 18px; /* Tamaño de fuente un poco más grande */
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
  }
  
  #quienes-somos section {
    margin-bottom: 40px;
  }
  
  #quienes-somos h3 {
    color: #ef3240; /* Color rojo del tema para los títulos de sección */
  }
  
  #quienes-somos img {
    max-width: 10%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sutil sombra para resaltar la imagen */
    display: block; /* Ajusta la imagen para que sea un elemento de bloque */
    margin: 10px auto; /* Ajusta el margen para centrar la imagen y dar espacio alrededor */
  }
  /* Contenido de la página */
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
 /* Navbar styles */
.navbar {
  background-color: #ef3240;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 0; /* Elimina el margen derecho fijo */
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

/* Ajustes para hacer que el navbar sea responsivo */
@media screen and (max-width: 768px) {
  .logo img {
    margin-left: 10px; /* Ajusta el margen izquierdo en pantallas más pequeñas */
  }

  .nav-list {
    margin-right: 0;
    flex-grow: 1; /* Ocupa todo el espacio disponible en pantallas más pequeñas */
    justify-content: flex-end; /* Mueve la lista al final en pantallas más pequeñas */
  }

  .nav-list li {
    margin-right: 10px;
  }
}
  
  .nav-list a {
    text-decoration: none;
    color: #fff; /* Color de los enlaces en el navbar */
    position: relative; /* Para permitir el posicionamiento del pseudo-elemento */
  }

  .nav-list a:hover::before {
    content: ''; /* Pseudo-elemento para el cuadrado */
    position: absolute;
    top: -36px;
    right: -5px;
    bottom: -36px;
    left: -5px;
    background-color: rgba(0, 0, 0, 0.258); /* Color oscuro con transparencia */
  }
  
  
  /* Footer styles */
  footer {
    background-color: #ef3240   ; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    margin-bottom: 15px;
  }
  
  .social-icons a {
    margin-right: 15px;
  }
  
  .social-icons img {
    max-width: 30px;
  }
  
